# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# -------------------------
# Node.js
# -------------------------
node_modules/

# -------------------------
# Build Files
# -------------------------
dist/
build/

# -------------------------
# AI
# -------------------------
runs/
weights/

# -------------------------
# Uploads
# -------------------------
uploads/

# -------------------------
# Reports
# -------------------------
reports/

# -------------------------
# Database
# -------------------------
*.db
*.sqlite3

# -------------------------
# Environment Variables
# -------------------------
.env

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# Operating System
# -------------------------
.DS_Store
Thumbs.db